extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") register
  if (user) 
    a(href="/logout") Logout
    p you are currently logged in as #{user.username}
    #{user}